body{
  font-size: 20px;
}

button{
  display: block;
  margin-bottom: 8px;
  width: 150px;
}

.inp-div{
  display: block;
  margin-bottom: 8px;
}

.inp-lab{
  display: inline-block;
  width: 150px;
}

.inp-div input{
  width: 1e3px;
}

.lab{
  display: block;
  margin-bottom: 8px;
}

progress{
  display: block;
  margin-bottom: 8px;
  width: 500px;
  height: 40px;
}

.block-wrap{
  display: block;
}

.fs-entry{
  display: inline-block;
  color: blue;
  cursor: pointer;
  user-select: none;
}